################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/StoreLib.Tests/bin/Release
/StoreLib/obj
/StoreLib/bin/Release
/StoreLib.Tests/obj
/StoreLib/bin/Debug
